<% implement('layouts/chimera') %>
<% style('elric-chimera') %>
<% style('elric-positioning') %>

<% script([
	'//code.jquery.com/jquery-2.1.4.min.js',
	'doek/jquery.mousewheel',
	'doek/doek',
	'doek/doek.canvas',
	'doek/doek.layer',
	'doek/doek.object',
	'doek/doek.node',
	'doek/doek.node.line',
	'doek/doek.node.rectangle',
	'doek/doek.event',
	'doek/doek.action',
	'doek.nodes',
	'mainDoek',
	'doek.actions',
	'beacon_training'
]); %>

<% start('chimera-status') %>
<% end('chimera-status') %>

<% start('chimera-cage') %>
<div>
	<p>Select your location, click "Start training", and move around a bit.</p>
	<button
		class="btn btn-success btn-start-collecting"
		title="Collect samples"
	>
		Collect samples
	</button>
	<button
		class="btn btn-success btn-start-training"
		title="Train network"
	>
		Train network
	</button>
</div>
<div id="train-map" data-width=650 data-height=450></div>
<% end('chimera-cage') %>